<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h1>Reserve your charging station now!</h1>
                        <a class="btn-solid-lg page-scroll" href="#reserve">Reserve</a>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <div class="img-wrapper">
                            <img class="img-fluid" th:src="@{/img/header-software-app.png}" alt="alternative" src="../../static/img/header-software-app.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>