<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">

        <a class="navbar-brand logo-image">
            <!--            logo-->
            <img th:src="@{/img/car.png}" alt="alternative" src="../../static/img/car.png"/>&emsp;&emsp;
            <!--            email of the authenticated user-->
            <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#request.getRemoteUser()}">
            </th:block>
        </a>

        <button class="navbar-toggler dropdown-toggle" type="button" data-toggle="collapse"
                data-target="#navbarExampleDefault" aria-controls="navbarExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation" onclick="myFunction()">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>

        <div class="collapse navbar-collapse dropdown-toggle-split" id="navbarExampleDefault">
            <ul class="navbar-nav ml-auto">

                <th:block th:if="${#request.getRemoteUser() != null}">
                    <!--                home-->
                    <li class="nav-item">
                        <a class="nav-link page-scroll first-item" href="/home">[[#{nav.home}]]<span
                                class="sr-only">(current)</span></a>
                    </li>

                    <!--                reservations-->
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true"
                           class="nav-link dropdown-toggle page-scroll" id="navbarDropdown1" href="/home#reserve">[[#{nav.reservations}]]</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <Link class="dropdown-item">
                            <a class="item-text" href="/home#myReservations">[[#{nav.myReservations}]]</a>
                            <Link class="dropdown-item">
                            <a class="item-text" href="/home#reserve">[[#{nav.makeReservation}]]</a>
                        </div>
                    </li>

                    <!--                faqs and analytics-->
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" aria-haspopup="true"
                           class="nav-link dropdown-toggle page-scroll" id="navbarDropdown2"
                           href="/faq">[[#{nav.FAQs}]]</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <Link class="dropdown-item">
                            <a class="item-text" href="/analytics">[[#{nav.analytics}]]</a>
                            <Link class="dropdown-item">
                            <a class="item-text" href="/help">[[#{nav.help}]]</a>
                        </div>
                    </li>

                    <!--                about-us-->
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/about">[[#{nav.aboutUs}]]</a>
                    </li>

                    <!--                my-profile-->
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/profile">[[#{nav.myProfile}]]</a>
                    </li>

                    <!--                logout-->
                    <li class="nav-item">
                        <form th:method="GET" th:action="@{/logout}">
                            <button class="logout-button">[[#{button.logout}]]</button>
                        </form>
                    </li>
                </th:block>
                <!--                languages-->
                &ensp;
                <li class="nav-item">
                    <a class="item-text" th:href="@{?lang=en}">
                        <img th:src="@{/img/us.png}" alt="en" width="30" height="20" src="../../static/img/us.png"/>
                    </a>
                </li>
                &ensp;
                <li class="nav-item">
                    <a class="item-text" th:href="@{?lang=mk}">
                        <img th:src="@{/img/mk.png}" alt="mk" width="30" height="20" src="../../static/img/mk.png"/>
                    </a>
                </li>
                &ensp;
                <li class="nav-item">
                    <a class="item-text" th:href="@{?lang=alb}">
                        <img th:src="@{/img/alb.png}" alt="alb" width="30" height="20" src="../../static/img/alb.png"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function myFunction() {
        let x = document.getElementById("navbarExampleDefault");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>

