<th:block>
    <div id="aboutUs">
        <header id="header" class="header">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-5">
                            <div class="text-container">
                                <h1 class="white-text ">About us</h1>
                            </div>
                            <div class="text-container">
                                <span class="white-text">
                                    MyChargingStation development team is filled with eco-friendly gadgetism and are big advocates for ecology.
                                    That being said we are a non-profit organisation, and with your help and contribution to the environment for being an electric vehicle owner,
                                    in return we offer a ser\n service which will fundamentally help you ease your life.
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-xl-7">
                            <div class="image-container">
                                <div class="img-wrapper">
                                    <img class="img-fluid" th:src="@{/img/43140.png}" alt="alternative" src="../../static/img/43140.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</th:block>