<th:block>
    <div id="faqs">
        <header id="header" class="header">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-5">
                            <div class="text-container">
                                <h1>FAQs</h1>

                                <button class="accordion" th:text="#{faq.q1}"></button>
                                <div class="panel">
                                    <p th:text="#{faq.a1}"></p>
                                </div>

                                <button class="accordion" th:text="#{faq.q2}"></button>
                                <div class="panel">
                                    <p th:text="#{faq.a2}"></p>
                                </div>

                                <button class="accordion" th:text="#{faq.q3}"></button>
                                <div class="panel">
                                    <p th:text="#{faq.a3}"></p>
                                </div>
                                <button class="accordion" th:text="#{faq.q4}"></button>
                                <div class="panel">
                                    <p th:text="#{faq.a4}"></p>
                                </div>
                                <button class="accordion" th:text="#{faq.q5}"></button>
                                <div class="panel">
                                    <p th:text="#{faq.a5}"></p>
                                </div>
                                <button class="accordion" th:text="#{faq.q6}"></button>
                                <div class="panel">
                                    <p th:text="#{faq.a6}"></p>
                                </div>
                                <button class="accordion" th:text="#{faq.q7}"></button>
                                <div class="panel">
                                    <p th:text="#{faq.a7}"></p>
                                </div>
                            </div>
                        </div>

                        <!--                        image-->
                        <div class="col-lg-6 col-xl-7">
                            <div class="image-container">
                                <div class="img-wrapper">
                                    <img class="img-fluid margin" th:src="@{/img/questions.png}" alt="questions"
                                         src="../static/img/questions.png"/>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</th:block>

<script>
    let acc = document.getElementsByClassName("accordion");
    let i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            let panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>