<th:block>
    <div id="faqs">
        <header id="header" class="header">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-5">
                            <div class="text-container">
                                <h1>FAQs</h1>

                                <button class="accordion">{content.q1}</button>
                                <div class="panel">
                                    <p>{content.a1}</p>
                                </div>

                                <button class="accordion">{content.q2}</button>
                                <div class="panel">
                                    <p>{content.a2}</p>
                                </div>

                                <button class="accordion">{content.q3}</button>
                                <div class="panel">
                                    <p>{content.a3}</p>
                                </div>
                                <button class="accordion">{content.q4}</button>
                                <div class="panel">
                                    <p>{content.a4}</p>
                                </div>
                                <button class="accordion">{content.q5}</button>
                                <div class="panel">
                                    <p>{content.a5}</p>
                                </div>
                                <button class="accordion">{content.q6}</button>
                                <div class="panel">
                                    <p>{content.a6}</p>
                                </div>
                                <button class="accordion">{content.q7}</button>
                                <div class="panel">
                                    <p>{content.a7}</p>
                                </div>
                                <button class="accordion">{content.q8}</button>
                                <div class="panel">
                                    <p>{content.a8}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-7">
                            <div class="image-container">
                                <div class="img-wrapper">
                                    <img class="img-fluid margin" th:src="@{/img/questions.png}" alt="questions" src="../static/img/questions.png"/>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</th:block>