<th:block xmlns:th="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
    <script th:inline="javascript">
        window.onload = function () {
            setChargerType();
        }

        function setChargerType() {
            /*<![CDATA[*/
            const locationsList = /*[[${locations}]]*/ "locations";
            /*]]>*/
            const selected_location_id = document.getElementById("station").value;

            for (i = 0; i < locationsList.length; i++) {
                if (locationsList[i].location_id == selected_location_id) {
                    let selected_location = locationsList[i];
                    console.log(selected_location);
                    document.getElementById("charger").value = selected_location.charger_type;
                    break;
                }
            }
        }
    </script>


    <header th:replace="fragments/header"></header>

    <div id="reserve">
        <header id="header" class="header">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-5">
                            <div class="text-container">
                                <h1 th:text="#{res.reserveTitleForm}"></h1>
                                <form th:method="POST" th:action="@{/home/reserve}">
                                    <label for="station">[[#{res.chooseLocation}]]:</label>&nbsp;
                                    <select name="location_id" id="station" class="paddings"
                                            onchange="setChargerType()">
                                        <th:block th:each="location : ${locations}">
                                            <option th:value="${location.getLocation_id()}"
                                                    th:text="${location.getAddress()}"></option>
                                        </th:block>
                                    </select><br/><br/>

                                    <label for="charger">[[#{res.chargingType}]]:</label>&nbsp;
                                    <input id="charger" type="text" readonly><br/><br/>

                                    <label for="carPlate">[[#{res.car}]]:</label>&nbsp;
                                    <select name="car_id" id="carPlate" class="paddings">
                                        <th:block th:if="${cars.size() == 0}">
                                            <option name="car_plate" value="0"
                                                    th:text="#{res.noCars}">
                                            </option>
                                        </th:block>
                                        <th:block th:if="${cars.size() > 0}" th:each="car : ${cars}">
                                            <option name="car_plate" th:value="${car.getCar_id()}"
                                                    th:text="${car.toString()}"></option>
                                        </th:block>
                                    </select><br/><br/>

                                    <label for="datetime">[[#{res.dateTime}]]:</label>&nbsp;
                                    <input type="datetime-local" id="datetime" name="date_time"
                                           th:value="(${reservation} != null ? ${reservation.getDate_time()} : ' ')"/>
                                    <br/> <br/>

                                    <label th:if="${hasError}">*[[#{requiredFields}]].</label></br>
                                    <button type="submit" class="btn-solid-lg " th:text="#{button.reserve}"></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-7">
                            <div class="image-container">
                                <div class="img-wrapper">
                                    <iframe id="map"
                                            src="https://www.google.com/maps/d/u/0/embed?mid=118jEnaKYJUGKEKZNdYGQ0w0BKv3WlcHf&ehbc=2E312F"
                                            width="640" height="480"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>


    <!--    My reservations-->

    <div id="myReservations">
        <header id="headerMyReservations" class="header">
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-5">
                            <div class="text-container">
                                <h1 th:text="#{nav.myReservations}"></h1>

                                <table class="table">
                                    <tr>
                                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                            <th th:text="#{res.user}"></th>
                                        </th:block>
                                        <th th:text="#{res.location}"></th>
                                        <th th:text="#{res.car}"></th>
                                        <th th:text="#{res.dateTime}"></th>
                                        <th th:text="#{res.status}"></th>
                                        <th></th>
                                    </tr>
                                    <th:block th:each="reservation: ${reservations}">
                                        <tr>
                                            <th:block th:each="user: ${users}" sec:authorize="hasRole('ROLE_ADMIN')">
                                                <td th:if="${user.getUser_id() == reservation.getUser_id()}"
                                                    th:text="${user.getName() + ' ' + user.getSurname() }"></td>
                                            </th:block>

                                            <th:block th:each="location: ${locations}">
                                                <td th:if="${reservation.getLocation_id() == location.getLocation_id()}"
                                                    th:text="${location.getAddress()}"></td>
                                            </th:block>

                                            <th:block th:each="car: ${cars}">
                                                <td th:if="${reservation.getCar_id() == car.getCar_id()}"
                                                    th:text="${car.toString()}"></td>
                                            </th:block>

                                            <td th:text="${reservation.getDate_time()}"></td>

                                            <td th:text="${reservation.getReservationStatus()}"></td>

                                            <td>
                                                <a th:if="${reservation.getReservationStatus() == T(com.finki.dians.mychargingstation.models.enums.ReservationStatus).ACTIVE}"
                                                   th:method="GET"
                                                   th:href="@{'/home/cancel-reservation/{reservation_id}' (reservation_id=${reservation.getReservation_id()})}"
                                                   class="btn btn-sm btn-info edit-product">
                                                    <i class="fa fa-trash" th:text="#{button.cancel}"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    </th:block>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</th:block>


