<th:block xmlns:th="http://www.thymeleaf.org">
    <div id="aboutUs">
        <header id="header" className="header">
            <div className="header-content">
                <div className="container">
                    <div className="row">
                        <div className="col-lg-6 col-xl-5">
                            <div className="text-container">
                                <h1 className="white-text ">{content.title}</h1>
                            </div>
                            <div className="text-container">
                                <span className="white-text">{content.description}</span>
                            </div>
                        </div>
                        <div className="col-lg-6 col-xl-7">
                            <div className="image-container">
                                <div className="img-wrapper">
                                    <img className="img-fluid" src={require('../images/43140.png')} alt="alternative" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</th:block>