<div id="sign-up">
    <header id="header" className="ex-2-header">
        <div className="container">
            <div className="row">
                <div className="col-lg-12">
                    <h1>Sign Up</h1>
                    <p>Fill out the form below to sign up. Already signed up? Then just
                        <span className="nav-item">
                                    <Link to="log-in" spy={true} smooth={true} offset={50} duration={500} className="nav-link page-scroll" href="./log-in">{contentSignup.Login}</Link>
                                </span></p>
                    <div className="form-container">
                        <form onSubmit={(e) => register(e)} id="signUpForm" data-toggle="validator" data-focus="false">
                        <div className="form-group">
                            <input
                                    onChange={(e) => onChangeSignUp(e)}
                            id="name"
                            value={MCS_User.name}
                            placeholder="name"
                            pe="text"
                            className="form-control-input"
                            required>
                            </input>
                            <div className="help-block with-errors"></div>
                        </div>
                        <div className="form-group">
                            <input
                                    onChange={(e) => onChangeSignUp(e)}
                            id="surname"
                            value={MCS_User.surname}
                            placeholder="surname"
                            type="text"
                            className="form-control-input"
                            required>
                            </input>
                            <div className="help-block with-errors"></div>
                        </div>

                        <div className="form-group">
                            <input
                                    onChange={(e) => onChangeSignUp(e)}
                            id="phone"
                            value={MCS_User.phone}
                            placeholder="phone"
                            type="text"
                            className="form-control-input"
                            required>
                            </input>
                            <div className="help-block with-errors"></div>
                        </div>

                        <div className="form-group">
                            <input
                                    onChange={(e) => onChangeSignUp(e)}
                            id="car_model"
                            value={MCS_User.car_model}
                            placeholder="car model"
                            type="text"
                            className="form-control-input"
                            required>
                            </input>
                            <div className="help-block with-errors"></div>
                        </div>
                        <div className="form-group">
                            <input
                                    onChange={(e) => onChangeSignUp(e)}
                            id="car_plate"
                            value={MCS_User.car_plate}
                            placeholder="car plate"
                            type="text"
                            className="form-control-input"
                            required>
                            </input>
                            <div className="help-block with-errors"></div>
                        </div>
                        <div className="form-group">
                            <input
                                    onChange={(e) => onChangeSignUp(e)}
                            id="email"
                            value={MCS_User.email}
                            placeholder="email"
                            type="email"
                            className="form-control-input"
                            required>
                            </input>
                            <div className="help-block with-errors"></div>
                        </div>
                        <div className="form-group">
                            <input
                                    onChange={(e) => onChangeSignUp(e)}
                            id="password"
                            value={MCS_User.password}
                            placeholder="password"
                            type="password"
                            className="form-control-input"
                            required>
                            </input>
                            <div className="help-block with-errors"></div>
                        </div>

                        <div className="form-group">
                            <button type="submit" className="form-control-submit-button"
                                    href="home.jsx">SIGN UP
                            </button>
                        </div>
                        <div className="form-message">
                            <div id="smsgSubmit" className="h3 text-center hidden"></div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
